/*css reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*Mobile view*/
/*background picture is derived from stock media: https://pixabay.com/illustrations/online-store-online-shop-store-1674907/*/
/* -----------------color used------------------------------------
button color: rgb(255,240,237)
text background color: rgb(92,26,92)
main title background color: rgb(255,240,237)
main page back-up color:rgba(192,192,192,0.4)
icon color: rgb(130,0,232,0.9)
burger menu color: rgb(239,255,215) */

.fa-bars{
	font-size:1em;
	background-color:rgb(239,255,215);
	position: absolute;
	left: 10px;
	padding: 5px;
	top:20px;
        cursor: pointer;
}

i {
	color:rgba(130,0,232,0.9);
}

.page-logo{
	color:red;
	font-size: 10em;
	margin-bottom: 3%;
	padding-top: 10%;
	background-image: url("../img/bg.png");
	border-radius: 9px;
	background-size: 65%;
}

.fa-cart-arrow-down{
	font-size: 1em;
	justify-content: center;
	margin-left: 28%;
}

.wrapper{
	max-width: 414px;
	padding: 2%;
	background-color: rgba(192,192,192,0.4);
}

.error{
	font-family: verdana,Tahoma, Geneva, sans-serif;
	font-size: 0.75em;
	color:rgb(252,110,19);
	font-weight: bold;
	font-style: italic;
}

.sfs{
	font-size: 2em;
	font-family: verdana,Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: rgb(92,26,92);
	text-align: center;
	background-color: rgb(255,240,237);
	border-radius: 9px;
	padding:4%;
}

.instruction{
	margin: 5%;
	font-family: verdana,Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align: left;
	text-align: center;
	font-size: 0.8em;
	color:rgb(92,26,92);
	line-height: 1.5;
}

.text{
	margin:8% 2%;
}

#user-input{
	width:98%;
	height: 2rem;
	margin-bottom: 5%;
}

#trigger-click{
	width: 100%;
	font-family: verdana,Tahoma, Geneva, sans-serif;
	font-size: 1em;
	padding: 2%;
	background-color: rgb(255,240,237);
	cursor: pointer;
}

button{
	border-radius: 9px;
}

#display-data{
	padding: 3%;
	font-family: verdana,Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color:rgb(0,16,92);
	
}

.social{
	margin-top: 30%;
	text-align: center;
	padding: 10%;
	font-size:2em;

}
 .social i {
 	padding: 20px;
 	cursor: pointer;
 }

footer{
	font-family: verdana,Tahoma, Geneva, sans-serif;
	font-size: 0.5em;
	text-align: center;
}
